.alert-balance {
  height: 60px;
  line-height: 1.5;
  /* text-align: right; */
  font-weight: bold;
}

.card {
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
  border-color: white;
  word-spacing: -2%;
}

.card-img {
  width: 100%;
  height: 164px;
}
.card-body {
  width: 100%;
}

.card-text {
  width: 100%;
}


.card-img:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}


.alert-login {
  height: 60px;
  line-height: 1.5;
  /* text-align: right; */
  font-weight: bold;
  
}

.card-img-login {
  width: 72px;
  height: 72px;
}

.btn-login {
  width: 400px;
  background: #000;
  color: white;
}
.btn-login:hover {
  width: 400px;
  background: #000;
  color: gray;
}
.react-datepicker-ignore-onclickoutside{
  font-size:  1rem;
}
.react-datepicker__input-container::before {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size:  1rem;
  color: #333;
  border-color : #333;
}

.detailLb {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}


.detailCont {
  font-size: 12px;
  font-weight: 300;
  color: #252525;
}

.borderLine {
  min-height: 20px;
  border-bottom: solid 1px #b5b5b5;
  margin-bottom: 3%;
}

.nftDetailContent > div, .nftSellContent > div {
  margin-bottom: 3%;
}

.solid-border{
  border-radius: 0.25rem;
  border : 1px solid #ced4da;
  text-indent: 10px;
}

.jb-wrap img {
  width: 100%;
  vertical-align: middle;
}

.jb-text p {
  font-size: 10px;
  font-weight: bold;
  color: white;
  width: 50%;
  margin: -27.5px 5px;
  padding: 10px;
  background-color: transparent;
  text-align: left;
}